[Desktop Entry]
Name=IntelliJ IDEA Community
Comment=
Exec={{ lookup('env','HOME') }}/{{ ideaIC }}/bin/idea.sh
Icon={{ lookup('env','HOME') }}/{{ ideaIC }}/bin/idea.png
Terminal=false
Type=Application
StartupNotify=true
